= render "/layouts/header"
.content
  .container-fluid
    .page-header
      %h1 
        Nuestros servicios
        %small Agile development & responsive design are our commandments.
    .row-fluid
      .span4.hero-unit
        %h1.info
          =image_tag("technologies.png")
        %hr
        %p Desarrollamos proyectos con las últimas tecnologías en un ambiente comprometido con las necesidades del cliente.
        %p.info 
          =link_to("Pronto más...")
      .span4.hero-unit
        %h1.info
          =image_tag("platforms.png")
        %hr
        %p Conocemos las necesidades del mundo de hoy y sabemos que la web móvil es importante.
        %p.info
          Tu web en iOS, Android o Windows Phone? We can made it.
      .span4.hero-unit
        %h1.info
          =image_tag("snetworks.png")
        %hr
        %p No eres un gran fan de las redes sociales?... Utiliza a nuestro formulario de contacto (arriba) o envía un mail a:
        %p.info
          =link_to("contacto@mockingbirdev.com", "mailto:contacto@mockingbirdev.com")
= render "/layouts/footer"