= render "/layouts/header"
.content
  .statement
    %h1 We enjoy coding!
  .resources
    #full
      %h5 Holi
      %div
        =image_tag("snetworks.png")
        =image_tag("platforms.png")
        =image_tag("technologies.png")
        %p Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
  .resources      
    #box
      %h5 ¿POR QUÉ NOSOTROS?
      %div
        =image_tag("technologies.png")
        %p Porque desarrollamos proyectos con las últimas tecnologías en un ambiente cercano y comprometido con las necesidades del cliente.
    #box
      %h5 SOLUCIONES MULTIPLATAFORMA
      %div
        =image_tag("platforms.png")
        %p Conocemos las necesidades del mundo de hoy y sabemos que la web móvil es importante. Tu web en iOS? Android? Aquí podemos hacerlo.
    #box
      %h5 ¿QUIERES SABER MÁS?
      %div
        =image_tag("snetworks.png")
        %p No eres un seguidor de las redes sociales? entonces contactanos por email a contacto@mockingbird.cl o al fono (+56)2XXXXXXX
= render "/layouts/footer"