= render "/layouts/header"
.content
  %p Nuestro Equipo
  .team
    =image_tag("felipe.png")
    =image_tag("nelson.png")
    =image_tag("henry.png")
  .statement
    %p Insertar frase intelectualoide aquí para ganar más
  .resources      
    #box
      %h4 ¿POR QUÉ NOSOTROS?
      %div
        =image_tag("technologies.png")
        %p Porque desarrollamos proyectos con las últimas tecnologías en un ambiente cercano y comprometido con las necesidades del cliente.
    #box
      %h4 LOREM IPSUM
      %div
        =image_tag("no-image.png")
        %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    #box
      %h4 LOREM IPSUM
      %div
        =image_tag("no-image.png")
        %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    #box
      %h4 LOREM IPSUM
      %div
        =image_tag("no-image.png")
        %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
= render "/layouts/footer"