= render "/layouts/header"
.content
  %p Nuestro Equipo
  .team
    =image_tag("felipe.png")
    =image_tag("nelson.png")
    =image_tag("henry.png")
  .statement
    %p Statement goes here!
  .resources      
    #box
      %h5 ¿POR QUÉ NOSOTROS?
      %div
        =image_tag("technologies.png")
        %p Porque desarrollamos proyectos con las últimas tecnologías en un ambiente cercano y comprometido con las necesidades del cliente.
    #box
      %h5 SOLUCIONES MULTIPLATAFORMA
      %div
        =image_tag("platforms.png")
        %p Conocemos las necesidades del mundo de hoy y sabemos que la web móvil es importante. Tu web en iOS? Android? Aquí podemos hacerlo.
    #box
      %h5 ¿QUIERES SABER MÁS?
      %div
        =image_tag("snetworks.png")
        %p No eres un seguidor de las redes sociales? entonces contactanos por email a contacto@mockingbird.cl o al fono (+56)2XXXXXXX
= render "/layouts/footer"