= render "/layouts/header"
.content
  .form
    =form_for @message, {:url => contact_path} do |form| 
      %fieldset.fields
        %div.field
          =form.label :name 
          =form.text_field :name     
        %div.field
          =form.label :email 
          =form.text_field :email 
        %div.field
          =form.label :subject 
          =form.text_field :subject 
        %div.field
          =form.label :body 
          =form.text_area :body 
      %fieldset.form-actions
        %button{:class => "btn btn-large btn-primary", } Enviar
= render "/layouts/footer"