= render "/layouts/header"
.content
  %p Fields with a (*) are required
  / = simple_form_for :contact do |f|
  /   = f.input :name
  /   = f.input :mail
  /   = f.input_field :message, as: :text, required: false
  /   = f.submit "Send"
  %form{name: "input", action: "#{'#new'}", method:"post"}
    %input{type: "text", name: "name"}
    %input{type: "text", name: "mail"}
    %input{type: "textarea", name: "message"}
    %input{type: "submit", value: "Submit"}
= render "/layouts/footer"