//All SCSS & CSS Styles developed by
//A. Felipe Cabargas Madrid <felipe@cabargas.com>
//Mockingbird Dev - 2012


// Fonts

@import url("http://fonts.googleapis.com/css?family=Handlee");

//Pantone
$background-general: #f4f4f4;
$background-div: #0c0c0c;
$background-altern: #ffffff;
$font: #3f3f3f;

*{
  margin: 0;
  padding: 0;
}

body{
  background: $background-general;
  background-image: url(banner-white.png);
  font-family: sans;
  color: $font;
}

.header{
  .banner{
    text-align: center;
    height: 620px;
    background-image: url("banner.png");
    .title{
      img{
        height: 80px;
        margin-top: 270px;
        // margin: 35px 0 0 75px;
        // position: relative;
      }
    }  
    .bird{
      font-family: 'Handlee', cursive;
      font-size: 30px;
      color: white;
      margin-top: 20px;
      img{
        height: 150px;
        opacity: 0.7;
        // position: absolute;
        top: 0;
        left: -20px;
      }
    }
    .buttons{
      float: right;
      margin-top: 23px;
    }
  }
}

.division{
  height: 7px;
  background: $background-div;
  // @include shadow(#000000);
}

.content{
  margin: 0 auto 0 auto;
  width: 100%;
}


.push{
  padding:50px;
}

.footer{
  background-image: url("banner-black.png");
  padding: 10px 0 10px 0;
  height: 45px;
  width: 100%;
  position: fixed; 
  bottom: 0; 
  left: 0;
  color: white;
  text-align: right;
  img{
    height: 100%;
  }
  .data{
    margin: 12.5px;
    display: inline;
    float: left;
  }
}