// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Pantone
$background-general: #f4f4f4;
$background-div: #0c0c0c;
$background-altern: #ffffff;
$font: #3f3f3f;

.statement{
  text-align: center;
  margin: 20px 40px 40px 40px;
}

.resources{
  background: $background-altern;
  margin: 0 auto 0 auto;
  height: 300px;
  width: 960px;
}

#box {
  margin: 20px;
  img{
    margin: 20px;
    width: 195px;
    height: 70px;
  }
  float: left;
  width: 250px;
  height: 250px;
  //padding: 20px 0 0 30px;
  //display: inline;
}

#full {
  text-align: center;
  img{
    width: 195px;
    height: 70px;
  }
  width: 850px;
  height: 250px;
  //display: inline;
}