// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Pantone
$background-general: #f4f4f4;
$background-light: #84B3FF;
$background-div: #0c0c0c;
$background-altern: #ffffff;
$font: #3f3f3f;

.big_image img{
  float: left;
  width: 50%;
  height: 100%;
}

.statement{
  float: left;
  text-align: center;
}