// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

.navbar-inner{
  margin-top: -180px;
  float: right;
  border-radius: 0 0 0 20px;
}

.form-actions{
  text-align: center;
}

label{
  text-align: left;
}

input, textarea, button{
  width: 50%;
}