.push
.footer
  .data
    2012 &copy; @MockingbirdDev | mail: contacto@mockingbirdev.com | fono: +56978428435
  %a	
    =image_tag("md-logo.png")
  %a{href: "https://github.com/felipecabargas/mockingbirddev-web"}
    =image_tag("github-logo.png")