.header
  .banner
    .title
      =image_tag("title.png")
    .bird
      =image_tag("headbird.png")
  .navbar
    .navbar-inner
      .container-fluid
        %ul.nav
          %li
            %a{:href =>"#"}Inicio
          %li
            %a{:href =>"#"}Equipo
          %li
            %a{:href =>"#"}Servicios
          %li
            %a{:href =>"#"}Clientes
          %li
            %a{:href =>"#"}Contacto
