.header
  .banner
    %a{ :href => "#clientes"}
      .title
        =image_tag("title.png")
      .bird
        business meet people
  .navbar
    .navbar-inner
      .container-fluid
        %ul.nav
          %li
            =link_to(('INICIO'), root_path)
          %li
            =link_to(('EQUIPO'), about_index_path)
          %li
            =link_to(('SERVICIOS'), services_index_path)
          %li
            =link_to(('CLIENTES'), portfolio_index_path)
          / %li
          /   =link_to(('Contacto'), contact_path)
    / .division