.header
  .banner
    .title
      =image_tag("title.png")
    .bird
      =image_tag("headbird.png")
  .navbar
    .navbar-inner
      .container-fluid
        %ul.nav
          %li
            =link_to(('Inicio'), root_path)
          %li
            =link_to(('Equipo'), about_index_path)
          %li
            =link_to(('Servicios'), home_index_path)
          %li
            =link_to(('Clientes'), home_index_path)
          %li
            =link_to(('Contacto'), contact_path)
